
<section class="nut-app">
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="ingr-box-search">
                        <textarea class="box-search" #box></textarea>
                    </div>
                    <div class="ingr-box-btns">
                        <button class="Analyze" (click)="ingr(box.value)" [disabled]="disabled">Analyze</button>
                        <button class="New-Receipe" (click)="reset()">
                            New Receipe
                        </button>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table ingr-summary table-Light">
                        <thead>
                            <tr>
                                <th scope="col">Qty</th>
                                <th scope="col">Unit</th>
                                <th scope="col">Food</th>
                                <th scope="col">Calories</th>
                                <th scope="col">Weight</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of  ingrValue">
                                <th>{{ item.qyt }}</th>
                                <th>{{ item.unit }}</th>
                                <th>{{ item.food }}</th>
                                <th>{{item.val.calories }} kcal</th>
                                <th>{{ item.val.totalWeight }} g</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Nutrition-Facts-aside">
                <div class="facts-title">
                    <h2>Nutrition Facts</h2>
                    <h5>Amount Per Serving</h5>
                    <h3>Calories <span>{{ingrSum.calorie}}</span></h3>
                </div>
                <p><strong>Total Fat</strong> {{ingrSum.totalFat}} g <span> {{ingrSum.totalFatPar}}%</span></p>
                <p>
                    Saturated Fat 0 g <span>0%</span>
                </p>
                <p>
                    Trans Fat 0 g
                </p>
                <p>
                    <strong>Cholesterol</strong> {{ingrSum.Cholesterol}} mg <span>{{ingrSum.CholesterolPar}}%</span>
                </p>
                <p>
                    <strong>Sodium</strong> {{ingrSum.Sodium}} mg <span>{{ingrSum.SodiumPar}}%</span>
                </p>
                <p>
                    <strong>Total Carbohydrate</strong> {{ingrSum.Carbohydrate}} g <span>{{ingrSum.CarbohydratePar}}%</span>
                </p>
                <p>
                    Dietary Fiber 0 g <span>0%</span>
                </p>
                <p>
                    Total Sugars 0 g
                </p>
                <p>
                    Includes - Added Sugars
                </p>
                <p>
                    <strong>Protein</strong> {{ingrSum.Protein}} g <span>{{ingrSum.ProteinPar}}%</span>
                </p>
                <p>

                    Vitamin D {{ingrSum.Vitamin}} µg <span>{{ingrSum.VitaminPar}}%</span>
                </p>
                <p>
                    Calcium {{ingrSum.Calcium}} mg <span>{{ingrSum.CalciumPar}}%</span>
                </p>
                <p>
                    Iron {{ingrSum.Iron}} mg <span>{{ingrSum.IronPar}}%</span>
                </p>
                <p>
                    Potassium {{ingrSum.Potassium}} mg <span>{{ingrSum.PotassiumPar}}% </span>
                </p>
            </div>
        </div>
    </div>
</div>
</section>